fail_fast: true
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black .
        language: system
        pass_filenames: false
      - id: isort
        name: isort
        entry: poetry run isort .
        language: system
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: poetry run mypy .
        language: system
        pass_filenames: false
      - id: flake8
        name: flake8
        entry: poetry run pflake8
        language: system
        pass_filenames: false
      - id: pytest
        name: pytest
        entry: poetry run pytest
        language: system
        pass_filenames: false
